body{
  margin: 0;
  font-family: Geometria;
}
@font-face {
  font-family:Geometria;
  src:url("Geometria.woff");
}
.app {
  color: #132956;
}
.up {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 92px;
}
@media (max-width:767px) {
  .up {
    position: static;
    left:auto;top:auto; height: auto; width: auto;
  }
}
.dark_menu {
  background: #071022;
  height: 62.8%;
  min-height: 450px;
}
.up__list__mobile-net{
  display: none;
}
@media (max-width : 767px) {
  .dark_menu {
    height: 50px;
    width: auto;
    min-height: auto;
  }
  .gray_menu {
    display: none;
  }
}
.gray_menu {
  height: 37.2%;
  max-height: 670px;
  background : #F7F8F9;
}
@media (min-width:767px) and (max-height : 760px) {
  .up {
    position: absolute;
  }
  .gray_menu {
    background: #F7F8F9;
    max-height: none;
  }
  .dark_menu {
    height: 480px;
  }
}
.D {
 display: block;
 background: url("../img/D.svg") 100% 100% no-repeat;
 width: 28px;
 height: 28px;
 padding-top: 34px;
 margin: auto;
}
@media (max-width : 767px) {
  .D {
    width: 30px;
    height: 30px;
    left: 0px;
    top:0;
    margin: 0 auto 0 10px;
    background-size: contain;
    padding-top: 10px;
  }
}
.main-menu {
  transform: rotate(-90deg);
  display: flex;
  font-size: 1em;
  margin-top: 18em;
  list-style: none;
}
@media (max-width : 767px) {
.main-menu {
  display: block;
  transform: none;
  margin-top: calc(50vh - 55px);
  padding: 0;
}
}
.main-menu__item {
   margin-right: 32px;
}
@media (max-width : 767px) {
  .main-menu__item {
    margin-right:0;
    font-size: 26px;
    text-align: center;
    padding-top:4px;
    padding-bottom:4px;
    display: block;
  }
}
a {
  text-decoration: none;
  color: #F7F8F9;
}
@media (max-width : 767px) {
  .up__list {
    background: #071022;
    display:none;
    margin-top: 1px;
    transform: none;
    position: absolute; /*was relative*/
    top: auto; left: auto;
    height:calc(100vh - 40px);
    width: 100%;
    z-index: 1;
  }
  a {
    color: #0BE2EA;
  }
}
.net {
    width: 25px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 60px;
    background-origin: content-box;
}
.telegram {
  background-image: url("../img/tgm.svg");
}
.vkontakte {
  background-image: url("../img/vk.svg");
}
.facebook {
  background-image: url("../img/fb.svg");
  background-position: center;
}
@media (max-width : 767px) {
  .text-main__header {
    height: auto;
    font-size: 100%;
  }
  .net {
    position: static;
  }
  .up__list__mobile-net {
    display: flex;
    justify-content: space-around;flex-wrap: nowrap;
    width:100%; height:20px;
    margin-top: 10px;
  }
  .up__list__mobile-net .net{
    top : auto;
    left:auto;
  }
}
.body-text {
  width: 100%;
  height: 62.8vh;
  min-height: 450px;
}
@media (max-width : 767px) {
  .body-text{
    background: none;
    height: auto;
    min-height: auto;
  }
}
.agency-text {
  max-width:700px;
  padding-top: 100px; padding-left: 200px; padding-right:10px;
}
.agency-text__header {
  font-size: 58px;
  margin: 10px 0 10px 0;
}
.agency-text__p {
  font-size:24px;
}
.text-main__border {
  display: flex;
  padding-left:200px;
  margin-top: -24px;
}
.text-main__border__text{
  padding-left: 10px;
}
.text-main__border::after{
  content:  url("../img/after.svg");
  padding-left: 10px;
  padding-top: 18px;
}
.line {
  height: 2px; width: 150px;
  margin-top:24px;
  background: #8B93A4;
}
.contacts-text {
  padding-left: 200px;
  padding-top: 100px;
  padding-right: 10px;
}
.contacts-text__header {
 font-size: 58px;
 margin: 0;
}
@media (max-width : 1124px) {
  .contacts-text__header {
    font-size : 34px;
  }
}
.custom {
  position: absolute;
}
.current_link,.agency:hover , .contacts:hover ,.cases:hover {
  color: #0BE2EA;
}

@media (max-width : 767px) {
  .text-main__border {
    display: block;
    width:auto;
    position: initial;
    padding-left: 10px;
  }
.text-main__border::after {
  position: relative;
  top:-34px;
  left : 162px;
}
  .text-main__border__text {
    margin-top: 10px;
    margin-left: auto;
  }
}
@media (max-width : 767px) {
  .arrow {
    display : none;
  }
}
.backgrounds {
  position: absolute;
  width: 100%;
}
.backgrounds-long {
  background:url("../img/contacts.svg") 100% 100% no-repeat;
  width:100%;
  min-height: 100vh;
  position: absolute;
}
.backgrounds-main {
  background: url("../img/Group1.png")  , url("../img/Group.png") , url("../img/D-big.svg") ,  #F7F8F9 ;
  background-size: auto ,contain , contain;
  background-repeat: no-repeat ,no-repeat,  no-repeat;
  background-position : left top ,right top ,  right top;
}
@media (max-width: 767px) {
  .backgrounds-main {
    background: none;
  }
}
.backgrounds-cases {
  background: url("../img/sc.svg") , url("../img/d_small.svg") ;
  background-repeat: no-repeat , no-repeat;
  height: 638px;
  background-position: right top , right top;
}
/*url("../img/contacts.svg")*/
.backgrounds-contacts {
  background:  url("../img/D_contacts.svg") , #F7F8F9;
  background-repeat: no-repeat , no-repeat;
  background-position:  right top , center;
  background-size:contain;
  position : absolute;
  width : 100%;
  height: 62.8vh;
  z-index: -1;
  min-height: 480px;
}
@media (max-width: 767px )  {
  .backgrounds-contacts {
    background: none;
  }
  .backgrounds-long {
    background: none;
  }
}
.contacts_main {
  background: url("../img/contacts.svg") 100% 100% no-repeat;
  right:0; top:0; bottom:0;
  width:48%;
  position: absolute;
  background-size: contain;
}
@media (max-width: 767px) {
  .fone{
    display : none;
  }
  .backgrounds {
    background-image: none;
  }
}
@media (max-width : 767px) {
  .agency-text {
    height: auto;
    font-family: Geometria ;
    padding: 15px;
    margin: auto;
  }
  .agency-text__p {
    font-size: 16px;
  }
  .agency-text__header {
    height: auto;
    font-size: 32px;
  }
}
.gallery {
  margin-left: 216px;
  margin-right:50px;
  margin-top:60px;
  display: flex;
  flex-wrap:wrap;
}
.gallery__case-img {
    margin: 10px 10px 6px 10px;
    width: 230px;
}
@media (min-width:983px) {
.gallery__case-img {
  width:330px;
}
}
@media (max-width : 767px) {
  .gallery {
     margin: auto auto 10px auto;
     position : absolute;
     overflow-x: scroll;
     width: 100%;
     display: flex;
     flex-wrap: nowrap;
  }
  .gallery__case-img {
    margin: 0 0 10px 0;
    width: 290px;
  }
}
.header-block {
  top:144px;
  left:144px;
  position: absolute;
}
@media (max-width : 767px) {
  .header-block {
    top:auto; left:auto;
    position: initial;
  }
  .header-block__title {
    margin: 15px;
  }
}
.none {
  display: none;
}
.table__label {
 cursor: pointer;
 display: inline;
 padding: 15px 5px 15px 5px ;
 margin-right:2px;
 color: #8B93A4;
 background-color: #F7F8F9;
}
.table {
  display: flex;
  margin-right:20px;
  font-size: 1.4vw;
}
@media (max-width : 767px) {
  .table {
    flex-wrap: wrap;
    font-size: 4vw;
    margin: 15px;
  }
  .table__label {
    display: inline;
    padding: 10px 5px 10px 5px;
    margin: 2px;
  }
}
.left {
  border-radius:10px 0 0 10px  ;
}
.right {
  border-radius:0 10px 10px 0;
}
.pct {
  position: absolute;
  top:0;
  right:0;
}
@media (max-width : 767px){
  .pct {
    display: none;
  }
  .left , .right {
    border-radius: 0;
  }
}
input[id=m]:checked   ~ .directory .directory__monitoring ,
input[id=hm]:checked ~ .directory .directory__hdemktng ,
input[id=ol]:checked ~ .directory .directory__opnlead ,
input[id=sc]:checked ~ .directory .directory__creative ,
input[id=cm]:checked ~ .directory .directory__cntmark ,
input[id=sp]:checked ~ .directory .directory__sproj {
  display: block;
}
:checked + .table__label  {
  background-color: #0BE2EA;
  color: #FFFFFF;
}
div.directory > div{
  position: absolute;
  display:none;
  width:100%;
}
@media (max-width : 767px) {
  input[id = D]:checked ~ .up__list {
    display:block;
  }

  div.directory > div {
  position: initial;
  }
}
.directory__items {
  padding-left:0;
}
.monitoring,.hdemktng ,.opnlead , .creative ,.cntmark ,.sproj {
width:100%;
}
.monitoring-li , .hdemktng-li , .opnlead-li , .creative-li , .cntmark-li , .sproj-li{
  display:inline-block;
  width:auto;
  margin-right: 28px;
  margin-bottom: 20px;
  position: relative;
  float:left;
}
@media (max-width: 767px) {
  .directory__items {
    list-style: none;
    margin :0;
    padding-left: 0;
  }
  .directory__monitoring , .directory__hdemktng , .directory__opnlead , .directory__creative ,.directory__cntmark  ,.directory__sproj {
    overflow: scroll;
    height: 274px;
  }
  .monitoring-li , .hdemktng-li , .opnlead-li , .creative-li , .ntmark-li , .sproj-li {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: auto;
  }

}
.tag {
  position: absolute;
  bottom:-10px;
  left:0;
  background-color: #0BE2EA;
  text-align: left;
  width: 100%;
  height: 30%;
  display:none;
  transition: all .1s;
  list-style-type: none;
}
.name{
  font-size: 22px;
  padding-top: 1%;
  padding-left: 10px;
  position: relative;
}
.dscrb{
  font-size: 12px;
  padding-left: 10px;
  position: relative;
  display: block;
}
li:hover .tag{
  display: block;
  opacity: 1;
}
.directory {
  position : absolute;
  top :160px;left:0;right:0;
  height:100%;
}
.directory__items-img {
  width:340px;
}
@media (max-width: 930px) {
  .directory__items-img {
    width:270px;
  }
}
@media (max-width : 767px) {
  .directory {
    position: initial;
    display: flex;
    overflow-x: scroll;
    flex-wrap: wrap;
    margin: 15px -14px 0 -14px;
    top: auto; left: auto; right: auto;
    height: auto;
  }
  .directory__items-img{
    width: 270px;
  }
  .directory__items {
    display: flex;
    flex-wrap: nowrap;
  }
  .tag{
    display: block;
  }
  .name {
    font-size: 22px;
    padding-left: 6%;
  }
  .dscrb {
    font-size: 16px;
    padding-left: 6%;
    display: block;
  }
}
@media (max-width : 767px) {
  .text-main__header{
    font-size: 10vw;
    margin-top: 15px;
    margin-left: 15px;
    width: 90%;
    top: auto; left: auto;
    position: initial;
  }
}
.form {
  display:flex;
  border : none;
  flex-wrap:wrap; width:574px; height: 258px;
  padding-left: 200px; padding-top:30px;
}
@media (max-width : 1124px) {
  .form {
    padding-top: 30px;
  }
}
.form__fields {
  width:410px;
}
.form__sendfile {
  margin-top:38px;
  margin-left:16px;
  width:146px; height: 50px;
}
@media (max-width: 824px) {
  .form__sendfile {
    white-space: nowrap;
    font-size: 14px;
    width:124px;
  }
  .form {
    width:550px;
  }
}
@media (max-width : 767px) {
  .form {
    top: auto; left: auto;
    position: initial;
    width: auto;
    padding:10px;
  }
  .contacts-text {
    position: initial;
    margin:0;
    padding: 10px;
  }
  .contacts-text__header {
    font-size: 32px;
  }
  .form__fields {
    width:100%;
  }
}
.form__fields__input {
border-bottom-width: 1px;
border-bottom-color: #132956;
border-top: none;
border-right: none;
border-left: none;
height: 54px; display: block;
width:100%;
background: rgba(0,0,0,0);
font-family: Geometria;
}
.form__fields__input :focus {
 outline: none;
 box-shadow: 0px 0px 0px blue;
}
.file-upload {
position: relative;
overflow: hidden;
width: 20%;
height: 20px;
background: #6da047;
border-radius: 3px;
padding: 8px 4px;
color: #fff;
text-align: center;
}
.form__sendfile:hover {
color: #0BE2EA;
}
.form__sendfile input[type="file"]{
display: none;
}
.form__sendfile-plcefle {
display: block;
width:18vw;
}
.form__sendfile-plcefle:hover{
 text-decoration: underline;
 color: #0BE2EA;
}
@media (max-width : 767px) {
  .backgrounds-contacts {
    height:auto;
  }
  .form__sendfile {
    top: auto; left: auto;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
    position: initial;
    margin-left: 0;
  }
}
.address {
 padding-top:116px;
 font-size:24px;
}
.phones {
 padding-top:60px;
 width:9em;
 font-size: 30px;
}
.phones_tel , .post , .address , .form__sendfile,.post__a {
  color: #132956;
}
.address p {
  margin : 0;
}
.post {
   font-size: 30px;
   float: right;
   padding-top: 60px;
   padding-right: 50px;
}
.contacts-info {
  padding-left: 220px;
}
@media (max-width : 767px) {
  .contacts-info  {
    padding-left: 0;
  }
}
@media (max-width :960px ) {
  .post , .phones {
    font-size: 20px;
  }
  .address {
    font-size:14px;
  }
}
@media (max-width : 767px) {
  .address {
    margin-left: 20px;
    margin-top: 350px;
    font-size: 16px;
    padding: 0;
  }
  .phones {
    padding: 0;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .post {
    position: initial;
    text-align: right;
    font-size: 16px;
    padding-top: 20px;
  }
  .address {
    margin-top:100px;
  }
}
@media (max-width:370px) {
  .post  , .phones {
    font-size: 12px;
  }
}
.inf {
display:flex;
justify-content: space-between;
}
.form__submit {
 margin-top: 20px;
 height:60px;
}
.form__submit-button {
 background: #0BE2EA;
 border-radius: 100px;
 width: 200px;
 height: 60px;
 border: none;
 font-family: Geometria;
 color: #FFFFFF;
 font-size: 24px;
}
.form__submit-button:active{
 background-color: #0acad2;
}
.form__submit-button:focus{
 outline: none;
 box-shadow: 0px 0px 2px blue;
 radius: 100px;
}
.form__submit-button-img {
 margin-top: 8px;
 margin-left: 8px;
 position: absolute;
}
@media (max-width : 767px) {
  .form__submit {
    margin-top: 20px;
    top:auto;
    position: initial;
  }
}
.bkg{
 width:100%;
 height: 679px;
 background: #F7F8F9;
 position: absolute;
}
.block {
  display: block;
}

.hamb {
  display: none;
}
@media (max-width : 767px) {
.hamb {
  background: url("../img/hamburger.svg") 100% 100% no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  right: 0px;
  top:0;
  margin: 10px;
  position: absolute;
  cursor: pointer;
  display: block;
}
}
@media (min-width : 767px) {
  .hamb {
    display:block;
  }
}
